/* Write your CSS here */
.configuration-controller {
  color: white;
  background-color: #475569;
  padding: 20px 0px 10px 50px;
}
.input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
input {
  margin-right: 10px;
}
